body {
    background: none repeat scroll 0 0 #F9F9F9;
    font-family: adelle-1,adelle-2,Helvetica,Arial,sans-serif;
    line-height: 23px;
}
h1 {
    color: #333333;
    font-size: 38px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.1em;
    margin-bottom: 0.5em;
    text-shadow: 1px 1px 0 white;
}
h2 {
    color: #333333;
    font-size: 28px;
    font-style: normal;
    font-weight: 200;
    line-height: 1.25em;
    margin-bottom: 10px;
    text-shadow: 1px 1px 0 white;
}
h3 {
    color: #333333;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.1em;
    margin-bottom: 10px;
    text-shadow: 1px 1px 0 white;
}
h3.intro {
    color: #235B88;
    font-size: 21px;
    line-height: 1.3em;
    text-align: center;
}
h4 {
    color: #599716;
    font-size: 19px;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    margin-bottom: 10px;
    padding-top: 8px;
    text-shadow: 1px 1px 0 white;
}
h5 {
    color: #333333;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    margin-bottom: 0.5em;
    text-shadow: 1px 1px 0 white;
}
h6 {
    color: #333333;
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    margin-bottom: 0.5em;
    text-shadow: 1px 1px 0 white;
}
h2 img, h3 img, h4 img, h5 img, h6 img {
    margin: 0;
}
p {
    color: #4D4F50;
    font-family: ff-tisa-web-pro-1,ff-tisa-web-pro-2,serif;
    font-size: 16px;
    line-height: 1.3em;
    margin: 0 0 0.8em;
}
p img.left {
    display: inline;
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0;
}
p img.right {
    display: inline;
    float: right;
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0;
}
a {
    color: #870A0A;
    text-decoration: underline;
}
a:visited {
    color: #601212;
}
a:hover {
    color: #232323;
}
a:active {
    color: #FF000C;
}
a:link, a:visited {
    -moz-transition: color 0.2s linear 0s;
}
a.pdf, a.cvs, a.doc {
    background-repeat: no-repeat;
    margin-left: 0;
    padding-right: 19px;
}
a.pdf {
    background-image: url("/images/pdf.png");
}
a.cvs {
    background-image: url("/images/excel.png");
}
a.doc {
    background-image: url("/images/word.png");
}
a.external {
    background: url("/images/off-site-link.png") no-repeat scroll right center transparent;
    padding: 0 14px 0 0;
}
a img, .logo a {
    border-bottom: medium none !important;
}
blockquote {
    color: #666666;
    font-style: italic;
    margin: 1.5em;
}
strong {
    font-style: italic;
}
dfn {
    font-style: italic;
    font-weight: bold;
}
sup, sub {
    line-height: 0;
}
abbr, acronym {
    border-bottom: 1px dotted #666666;
}
address {
    font-style: italic;
    margin: 0 0 1.5em;
}
del {
    color: #666666;
}
pre {
    margin: 2em 0;
    white-space: pre;
}
pre, code, tt {
    font-family: "lucida console",monospace;
    font-size: 0.85em;
    line-height: 1.3;
}
li ul, li ol {
    margin: 0 1.5em;
}
ul {
    color: #4D4F50;
    font-family: ff-tisa-web-pro-1,ff-tisa-web-pro-2,serif;
    list-style-type: disc;
    margin: 0 1em 1.5em;
}
ol {
    list-style-type: decimal;
    margin: 0 1em 1.5em;
}
dl {
    margin: 0 0 1.5em;
}
dl dt {
    font-weight: bold;
}
dd {
    margin-left: 1.5em;
}
table {
    background: none repeat scroll 0 0 white;
    border: 1px solid #DEE1E3;
    border-collapse: collapse;
    color: #4D4F50;
    font-family: facitweb-1,facitweb-2;
    font-size: 0.8em;
    margin-bottom: 1.4em;
    width: 100%;
}
thead th {
    background: none repeat scroll 0 0 #E5F2FC;
    border-color: #B7CFE1 #B7CFE1 #DEE1E3;
    border-style: solid;
    border-width: 1px;
    color: #2D466E;
    font-size: 12px;
    letter-spacing: 0.03em;
    padding: 9px 12px 8px;
    text-transform: uppercase;
}
tfoot th {
    border-top: 1px solid #DEE1E3;
}
tfoot td {
    border-top: 1px solid #DEE1E3;
}
th:first-child {
    border-right: medium none;
}
th, td {
    border-bottom: 1px solid #DEE1E3;
    border-right: 0 solid #E1DED7;
    border-width: 0 0 1px;
}
th, td, caption {
    padding: 5px 12px;
}
tr {
    border-bottom: 1px solid #DEE1E3;
}
tfoot {
    font-style: italic;
}
caption {
    background: none repeat scroll 0 0 #EEEEEE;
}
form ol {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
form ol li {
    padding: 6px 0;
}
.button-item {
    padding: 18px 0 6px;
}
label {
    color: #4D4F50;
    font-family: facitweb-1,facitweb-2;
    font-size: 11.5px;
    letter-spacing: 0.05em;
    padding: 0 4px 0 0;
    text-transform: uppercase;
}
fieldset {
    border: 4px solid #DDDDDD;
    margin: 0 0 1em;
    padding: 16px 20px;
}
fieldset select {
    font-size: 14px;
    margin: 5px 0 0;
}
legend {
    background: none repeat scroll 0 0 #F9F9F9;
    color: #4D4F50;
    font-size: 17px;
    font-style: normal;
    font-weight: 200;
    letter-spacing: 0.04em;
    line-height: 1.2em;
    margin-bottom: 10px;
    padding: 0 10px 0 0;
}
input.text, input.title, input[type="email"], input[type="email"], input[type="tel"], input[type="password"] {
    margin: 4px 0;
    padding: 5px;
}
input[type="radio"], input[type="checkbox"] {
    margin: 0 5px 0 0;
    width: 15px;
}
input[type="checkbox"], input.checkbox, input[type="radio"], input.radio {
    font-family: monospace;
    top: 0;
}
textarea {
    border-color: #717171 #B4B4B4 #D9D9D9;
    border-style: solid;
    border-width: 1px;
    margin: 4px 0;
    padding: 5px 7px;
}
select {
    margin: 0.5em 0;
}
input, textarea {
    font-family: courier;
    font-size: 14px;
    letter-spacing: 0.01em;
    margin: 0;
}
.left {
    display: inline;
    float: left;
}
.right {
    display: inline;
    float: right;
}
.center {
    text-align: center;
}
img.left {
    margin: 0 25px 20px 0;
}
img.right {
    margin: 0 0 20px 25px;
}
.clear {
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
}
.clearfixafter {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: inline-block;
    overflow: hidden;
}
.inner {
    margin: 0 auto;
    width: 960px;
}
.main {
    display: inline;
    float: left;
    margin: 0 10px;
    width: 620px;
}
.sidebar {
    display: inline;
    float: left;
    margin: 0 10px;
    width: 300px;
}
.alpha {
    margin-left: 0 !important;
}
.omega {
    margin-right: 0 !important;
}
.split {
    float: left;
    margin: 0 30px 20px 0;
    width: 440px;
}
.split.last {
    margin: 0 0 20px 30px;
}
.split-inner {
    padding: 20px;
}
.third {
    float: left;
    padding: 30px 0;
    width: 33.3%;
}
.third-inner {
    padding: 0 20px;
}
.third .illo {
    border: 1px solid #EFEFEF;
    display: block;
    height: 100px;
    margin-bottom: 18px;
    width: 270px;
}
.tool {
}
.tool-inner {
    background: none repeat scroll 0 0 #091621;
    margin: 0;
    padding: 9px 10px 12px;
	
}
.tool .logo {
    float: left;
}
.tool-nav {
    display: inline;
    float: right;
    margin: 12px 0 0;
}
.tool-nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0 8px 0 0;
}
.tool-nav li {
    background-image: none;
    color: #C3BFBE;
    display: inline;
    float: left;
    font-size: 15px;
    list-style-image: none;
    list-style-type: none;
    margin: 0 0 0 20px;
}
.tool-nav li a {
    border-bottom: medium none;
    color: #97C063;
    display: block;
    font-family: facitweb-1,facitweb-2;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-transform: uppercase;
}
.tool-nav li a:hover {
    color: #C1DD9D;
}
.tool-nav li.sub a {
    color: #7CB2DE;
}
.tool-nav li.sub a:hover {
    color: #B0D4F1;
}
.tool-nav li.selected a {
    color: #FFFFFF;
}
.splash {
}
.splash-inner {
    background: url("/images/splash.png") no-repeat scroll center top #7EBBE8;
    height: 300px;
    margin: 0;
    padding: 0;
}
.splash h1 {
    color: #FFFFFF;
    font-size: 40px;
    margin: 60px 0 10px;
    position: absolute;
    text-shadow: 0 1px 2px #3477AF;
}
.splash h2 {
    color: #206197;
    font-family: "adelle-1","adelle-2";
    font-size: 19px;
    font-style: italic;
    margin: 150px 0 10px;
    position: absolute;
    text-shadow: 1px 1px 0 #ADD2F1;
}
.splash button {
    margin: 190px 0 0;
    position: absolute;
}
.splash .graphic {
    margin: 4px 0 0 611px;
    position: absolute;
}
.secondary {
    background-image: url("/images/splash-secondary.png");
    height: 75px;
    padding: 40px 0 0;
}
.secondary h1, .secondary h2 {
    margin: 0 10px;
    position: relative;
    text-align: left;
}
.secondary h1 {
}
.secondary h2 {
    margin-top: 10px;
}
.splash-banner {
}
.splash-banner-inner {
    background: -moz-linear-gradient(center top , #E0EFFC 0%, #EFF8FF 29%, #EFF8FF 82%, #E3EFF8 100%) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #CBE1F4;
    border-top: 1px solid #ECF7FF;
    padding: 24px 0;
}
.splash-banner.nav .splash-banner-inner {
    padding: 0;
}
.question {
    background: url("/images/whats.png") no-repeat scroll center center transparent;
    color: #68A6D9;
    display: block;
    float: left;
    font-size: 33px;
    font-weight: bold;
    height: 63px;
    line-height: 33px;
    margin: 0 35px 0 0;
    text-transform: uppercase;
    width: 123px;
}
.answer {
    color: #235B88;
    float: left;
    font-size: 17px;
    line-height: 22px;
    width: 500px;
}
.demo {
    float: left;
    margin: 18px 0 0 48px;
}
.demo a {
    font-size: 16px !important;
    padding: 8px 16px !important;
}
.splash-nav {
}
.splash-nav-inner {
    background: url("/images/splash-nav.png") repeat scroll 0 0 #B6DAF3;
    border-bottom: 1px solid #91C4EA;
    padding: 0;
}
.splash-nav ul {
    border-left: 1px solid #8BBFE9;
    list-style: none outside none;
    margin: 0 10px;
    padding: 0;
}
.splash-nav ul li {
    border-right: 1px solid #8BBFE9;
    border-top: 1px solid #C7E3F7;
    float: left;
    padding: 0;
}
.splash-nav ul li a {
    border-bottom: medium none;
    display: inline-block;
    padding: 13px 30px 16px;
    text-decoration: none;
}
.splash-nav ul li a:hover {
    background: -moz-linear-gradient(center top , #D9EAF8 0%, #E7F2FB 29%, #E7F2FB 82%, #D9EAF8 100%) repeat scroll 0 0 transparent;
    border-bottom: medium none !important;
    text-decoration: none;
}
.splash-nav ul li h4 {
    color: #033259;
    margin-bottom: 5px;
    text-shadow: 1px 1px 0 #C4E3F9;
}
.splash-nav ul li p {
    color: #235B88;
    font-size: 13px;
    line-height: 1.15em;
    width: 120px;
}
.splash-nav ul li.selected {
    border-bottom: 1px solid #F9F9F9;
    margin-bottom: -1px;
}
.splash-nav ul li.selected a {
    background: none repeat scroll 0 0 #F9F9F9;
}
.splash-nav ul li.selected h4 {
    color: #001425;
    text-shadow: none;
}
.splash-nav.products ul li p {
    width: 160px;
}
.full.display {
    padding-top: 10px;
}
.display .box {
    height: 200px;
    margin: 0;
    width: 410px;
}
.display .tagline {
    font-style: italic;
}
.display .button-link {
    margin: 4px 0 0 -1px;
    padding: 6px 12px 2px;
}
.rss .button-link {
    padding: 8px 13px 4px 9px;
}
.visit {
    float: right;
}
.visit .button-link {
    font-family: facitweb-1,facitweb-2;
    font-size: 12px;
    padding: 3px 13px 2px;
}
.button-link img {
    margin: -3px 0 0 2px;
}
.pagination .button-link {
    font-family: facitweb-1,facitweb-2;
    font-size: 11px;
    padding: 3px 13px 2px;
}
nav.pagination {
    display: inline;
}
.box-button .button-link {
    font-family: facitweb-1,facitweb-2;
    font-size: 11px !important;
    padding: 3px 10px 1px;
}
.top {
}
.top-inner {
    background: none repeat scroll 0 0 #FFFFFF;
    min-height: 100px;
    padding: 0;
}
.top .top-inner h2 {
    margin: 0;
    padding: 0;
}
.middle {
}
.middle-inner {
    min-height: 400px;
    padding: 30px 0;
}
.full {
}
.full-inner {
    margin: 0 10px;
    padding: 0;
}
.main {
}
.main-inner {
    min-height: 360px;
    padding: 0 20px 0 0;
}
.sidebar {
}
.sidebar-inner {
    min-height: 360px;
    padding: 0 0 0 20px;
}
.flash {
}
.flash-inner {
    font-size: 18px;
    min-height: 36px;
    padding-top: 15px;
    text-align: center;
}
.flash .notice {
    background: none repeat scroll 0 0 #97C063;
    color: #001425;
}
.flash .alert {
    background: none repeat scroll 0 0 red;
    color: white;
}
.sidebar .sidebar-box {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px dashed #CECECE;
    margin-bottom: 20px;
    padding: 20px;
}
.sidebar .sidebar-box h2 {
    font-size: 18px;
}
.sidebar .sidebar-box p {
    color: #464646;
}
.footer {
}
.footer-inner {
    background: -moz-linear-gradient(center top , #EAECED 0%, #EFF0F1 24%, #EFF0F1 82%, #EAECED 100%) repeat scroll 0 0 transparent;
    border-top: 1px solid #DAE1E5;
    margin-top: 30px;
    padding: 80px 0 35px;
}
.footer ul {
    line-height: 18px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.footer li {
    background-image: none;
    color: #232323;
    font-size: 13px;
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    padding: 0;
    text-shadow: 1px 1px 0 #FFFFFF;
}
.footer li a {
    border-bottom: medium none;
    color: #6C6E6F;
    text-decoration: none;
    text-shadow: 1px 1px 0 #FFFFFF;
}
.footer li a:hover {
    color: #599716;
}
.footer p {
    color: #4C4E4F;
    font-family: arial;
    font-size: 13px;
}
.footer h4 {
    color: #4C4E4F;
    font-size: 13px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
.one-third, .one-half {
    padding: 0 10px;
}
.one-third {
    display: block;
    float: left;
    width: 140px;
}
.one-half {
    display: block;
    float: left;
    width: 220px;
}
.footnote {
}
.footnote-inner {
    background: none repeat scroll 0 0 #001425;
    padding: 20px 0;
}
.footnote-inner p {
    color: #424F59;
    font-family: facitweb-1,facitweb-2;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.spots {
}
.spot {
    background: none repeat scroll 0 0 #EFF0F1;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 1px 1px 12px 2px #D9D9D9 inset;
    color: #37393A;
    display: inline-block;
    float: left;
    font-family: "adelle-1","adelle-2";
    margin: 0 10px 30px;
}
.spot-inner {
    padding: 30px 35px;
}
.spot .icon {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EFEFEF;
    display: block;
    height: 100px;
    margin: 0 0 20px;
}
.split fieldset {
    border-bottom: medium none;
    border-left: medium none;
    border-right: medium none;
    margin-bottom: 20px;
    padding: 0;
}
.split fieldset legend {
    margin: 0 0 0 -18px;
}
.split fieldset ul {
    margin-top: 5px;
}
.spot .copy {
    margin-bottom: 18px;
}
.spot table {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    width: 220px;
}
.spot h3 {
    font-size: 21px;
    line-height: 1.2em;
}
.spot td {
    font-size: 12px;
    padding: 5px 2px 3px;
}
.spot tr.last, .spot tr.last td {
    border-bottom: medium none;
}
.spot.light {
    background: none repeat scroll 0 0 #F4F5F6;
    box-shadow: 1px 1px 12px 2px #E7E8E8 inset;
    color: #37393A;
}
.spots .spot {
    height: 490px;
    width: 300px;
}
.sidebar .spot {
    margin: 0 0 30px;
    width: 100%;
}
.sidebar .spot-inner {
    padding: 25px 30px 30px;
}
.section .spot {
    height: 300px;
    margin: 0;
    width: 430px;
}
.section h2 {
    margin-bottom: 2px;
}
.spot.twitter {
    background: none repeat scroll 0 0 #ECF3FA;
    box-shadow: 1px 1px 12px 2px #CCDAE9 inset;
}
.spot.twitter p {
    color: #333E48;
}
.spot.twitter p a {
    color: #5381B0;
}
.spot.twitter p.byline a {
    border-bottom: medium none;
    text-decoration: none;
}
.spot.twitter img.twitter-icon {
    margin-bottom: 5px;
}
.spot.twitter .visit {
    margin-top: 20px;
}
.spot.twitter .button-link {
    color: #5381B0 !important;
}
.spot.twitter .button-link img {
    margin: -4px 0 0 5px;
}
.spot.twitter .post {
    border-color: #C9DCEE;
}
.spot input {
    margin-bottom: 5px;
    padding: 4px 6px;
}
.inject {
    margin: 320px 0 0 10px;
    position: absolute;
    width: 220px;
}
.inject-inner {
    padding: 25px;
}
.inject h3 {
    margin-bottom: 5px;
}
.inject p {
    margin-bottom: 0;
}
.chart {
    float: left;
    width: 280px;
}
.spot.chart {
    margin: 0 0 30px 0;
    width: 280px;
}
img.merchant {
    margin-bottom: 12px;
}
.git .chart .git-icon {
    float: left;
    height: 19px;
    margin: -1px 7px 0 0;
    overflow: hidden;
    width: 18px;
}
.git h3 {
    text-align: center;
}
.sidebar table.chart {
    margin-bottom: 30px;
}
.sidebar table.chart img.connect {
    margin: -2px 8px 0 0;
}
img.github-logo {
    margin: 0 0 8px 35px;
    opacity: 0.9;
    width: 124px;
}
.github {
    background: url("/images/tom-github.png") no-repeat scroll 10px 0 transparent;
    display: block;
    height: 85px;
    width: 210px;
}
.bubble .bubble-wrapper {
    background: url("/images/quote-sidebar-spot.png") no-repeat scroll left top transparent;
    display: block;
    font-size: 15px;
    line-height: 1.25em;
    margin: 0 0 0 -6px;
    overflow: hidden;
    padding: 0;
    width: 231px;
}
.bubble .bubble-wrapper .inside {
    padding: 20px 23px 0;
}
.bubble .bubble-wrapper p {
    margin: 0;
    padding: 0;
    text-align: left;
}
.bubble .bubble-wrapper em {
    color: #3E7805;
    font-style: normal;
}
.bubble span {
    background: url("/images/quote-sidebar-spot.png") no-repeat scroll left bottom #EFF0F1;
    display: block;
    height: 45px;
    overflow: hidden;
}
.bubble p.meta {
    color: #5B5A55;
    font-size: 13px;
    font-style: italic;
    line-height: 1.25em;
    margin: 0 0 0 94px;
    padding-top: 43px;
    text-align: left;
    text-shadow: 1px 1px 0 #FFFFFF;
}
.bubble p.meta a {
    border-color: #D6D5D5;
    color: #A5A4A0;
    font-style: normal;
    margin-left: 20px;
}
.bubble p.meta a:hover {
    border-color: #B8B8B8;
    color: #AE4B0F;
}
.bubble .source {
    background: url("/images/tom-github.png") no-repeat scroll 10px 0 transparent;
    display: block;
    height: 85px;
    width: 210px;
}
.section {
    border-bottom: 1px solid #DDDDDD;
    margin: 0 0 40px;
    padding: 0 0 30px;
}
.section.feature .box {
    height: 180px;
    margin: 0 40px 0 0;
}
.section.feature h3, .section.feature p, .section.feature ul {
    margin-left: 339px;
}
.section.feature h4 {
    color: #787B7E;
    font-weight: 100;
    line-height: 26px;
    padding: 4px 20px;
}
.intro {
    border-bottom: 4px solid #DDDDDD;
    margin-bottom: 30px;
    min-height: 187px;
    padding: 0 0 10px;
}
.splash .intro {
    border-bottom: medium none;
}
.intro h2 {
    font-size: 28px;
    font-weight: 200;
    padding: 20px 0 6px;
}
.intro p {
    color: #787B7E;
    font-size: 20px;
}
.intro.testimony {
}
.intro.testimony h2 em {
    color: #787B7E;
    font-size: 38px;
    font-style: italic;
}
.intro.testimony em.open {
    margin-left: -20px;
    padding: 0 10px 0 0;
}
.intro.testimony em.close {
    margin: 0;
    padding: 0 0 0 6px;
}
.intro img.left {
    float: left;
    margin: 0 40px 0 0;
}
.intro img.right {
    float: right;
    margin: -10px 5px 0 0;
}
.intro .split {
    width: 410px;
}
.intro.online h2.short {
    font-size: 23px;
    margin-bottom: 18px;
    padding: 0;
}
.intro.online p {
    margin: 0 0 20px;
    width: 440px;
}
.intro.welcome {
    border-bottom: medium none;
    padding: 0 0 0 3px;
}
.intro.welcome h2 {
    font-size: 23px;
    padding: 0;
}
.intro.welcome img {
    display: block;
    float: right;
    margin: 26px 0 0 0;
}
.intro.welcome p {
    font-size: 17px;
    padding: 0;
}
.mini-quote {
    margin-top: 20px;
}
.mini-quote img {
    float: right;
    margin: -20px 90px 0 0;
}
.mini-quote h2 {
    float: left;
    font-size: 23px;
    padding: 24px 0 0;
}
.mini-quote span {
    color: #787B7E;
    float: right;
    font-family: ff-tisa-web-pro-1,ff-tisa-web-pro-2,serif;
    font-size: 20px;
    margin-top: -1px;
    padding-left: 15px;
}
h2.short {
    font-size: 23px;
    padding: 0 0 20px;
}
fieldset.purchase {
    border: 1px solid #BCBCBC;
    color: #4D4F50;
    display: block;
    font-family: facitweb-1,facitweb-2;
    font-size: 13px;
    margin: 0;
    padding: 12px 16px;
}
fieldset.purchase legend {
    color: #5088B4;
    font-family: facitweb-1,facitweb-2;
    font-size: 11.5px;
    letter-spacing: 0.03em;
    padding: 3px 10px 0;
    text-transform: uppercase;
}
.purchase .expire {
    color: #787B7E;
    font-size: 12px;
    font-style: italic;
    padding-top: 5px;
}
.intro.solo {
}
.post .saying {
    color: #333333;
    font-family: adelle-1,adelle-2;
    font-size: 19px;
    font-weight: 200;
    letter-spacing: 0.01em;
    line-height: 1.35em;
    margin-bottom: 9px;
}
.post.buzz .byline a {
    text-decoration: none;
}
.post.person img {
    float: left;
    margin: 0 30px 0 1px;
    padding: 0;
}
.post.person .saying {
    font-size: 23px;
    margin-bottom: 10px;
}
.post.person .byline {
    color: #787B7E;
    font-family: ff-tisa-web-pro-1,ff-tisa-web-pro-2,serif;
    font-size: 17.5px;
    letter-spacing: 0;
    line-height: 1.3em;
    text-transform: none;
}
.testimony-solo {
    background: none repeat scroll 0 0 #EFF0F1;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 1px 1px 12px 3px #E4E4E4 inset;
    padding: 50px 50px 45px;
}
.testimony-solo h2 {
    font-size: 23px;
    margin-bottom: 18px;
}
.testimony-solo p {
    color: #787B7E;
    font-family: ff-tisa-web-pro-1,ff-tisa-web-pro-2,serif;
    font-size: 20px;
    margin-bottom: 0;
}
.testimony-solo img {
    margin: 2px 0 0 -3px;
}
img.logos {
    border-bottom: medium none;
    display: block;
    height: 171px;
    width: 438px;
}
.testimonial {
    background: url("/images/bubble.png") no-repeat scroll center center transparent;
    display: block;
    height: 165px;
    width: 459px;
}
.quote {
    color: #4D4F50;
    display: block;
    font-family: "adelle-1","adelle-2";
    font-size: 15px;
    font-style: italic;
    height: 103px;
    padding: 20px 24px;
}
.person {
    color: #4D4F50;
    font-family: "adelle-1","adelle-2";
    font-size: 17px;
    margin: 0 0 0 152px;
}
.post {
    border-bottom: 1px solid #DDDDDD;
    margin: 0 0 30px;
    padding: 0 0 20px;
}
.post h2 {
    line-height: 1.1em;
    margin-bottom: 10px;
}
.post h2 a {
    color: #232323;
}
.post h4 {
    color: #599716;
    margin-bottom: 5px;
    padding-top: 10px;
}
.post p {
    font-size: 15px;
    line-height: 1.35em;
}
.post li p {
    margin-bottom: 0;
}
.post em {
    font-family: "adelle-1","adelle-2",serif;
    font-size: 13px;
    font-style: italic;
}
code {
    font-size: 13px;
    margin: 5px 0;
}
.snippet {
    margin: 0;
    padding: 8px 0;
}
.spot .snippet {
    padding: 6px 0;
}
.spot.twitter .snippet {
    padding: 8px 0;
}
.snippet p {
    font-size: 14px;
    margin-bottom: 8px;
}
.snippet .says {
    font-size: 12px;
    letter-spacing: 0.04em;
}
.snippet.last {
    border-bottom: medium none;
}
.post ul {
    margin: 10px 0 18px;
}
.post ul li {
    background: url("/images/check.png") no-repeat scroll left 4px transparent !important;
    list-style: none outside none;
    padding: 0 0 3px 27px !important;
}
.heading {
    border-top: 6px solid #DDDDDD;
    color: #4D4F50;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.05em;
    margin-top: 25px;
    padding: 4px 0 5px;
    text-transform: uppercase;
}
.post .byline {
    color: #787B7E;
    font-family: facitweb-1,facitweb-2;
    font-size: 11px;
    letter-spacing: 0.04em;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.post .byline .comments {
    background: url("/images/comment.png") no-repeat scroll left center transparent;
    display: inline-block;
    padding-left: 19px;
}
.post .byline em {
    color: #C4C7C9;
    font-size: 11px;
    padding: 0 4px;
}
.snippet .byline a {
    border-bottom: medium none;
    color: #787B7E;
}
.snippet .byline a:hover {
    color: #232323;
}
.plans {
    margin: 0 0 20px;
    padding: 0;
}
.plan {
    float: left;
    margin: 0 20px 0 0;
    width: 300px;
}
.plan.omega {
    margin-right: 0;
}
.plan-top {
    background: none repeat scroll 0 0 #23292C;
    border-bottom: 1px solid #161B1E;
    border-radius: 4px 4px 0 0;
    color: #ABB0B3;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 0.08em;
    padding: 12px 12px 10px;
    text-align: center;
    text-transform: uppercase;
}
.plan-mid {
    background: none repeat scroll 0 0 #333940;
    border-bottom: 1px solid #272D33;
    border-top: 1px solid #434950;
    color: #FFFFFF;
    font-family: facitweb-1,facitweb-2;
    font-size: 40px;
    font-weight: 200;
    padding: 25px 0 20px;
    text-align: center;
    text-shadow: 2px 2px 1px #232323;
}
.plan-mid em {
    color: #E7E7E5;
    font-size: 22px;
    vertical-align: top;
}
.plan-line {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #DEE1E3;
    border-left: 1px solid #DEE1E3;
    border-right: 1px solid #DEE1E3;
    color: #2D5373;
    font-family: facitweb-1,facitweb-2;
    font-size: 13px;
    padding: 12px 9px 9px;
    text-align: center;
}
.plan-line.starter {
    padding: 40px 10px 41px;
}
.plan-line h5 {
    color: #438BC6;
    font-family: adelle-1,adelle-2;
    font-size: 15.5px;
    font-style: normal;
    letter-spacing: 0.02em;
    line-height: 1.2em;
    margin: 0 0 3px;
    padding: 0;
    vertical-align: top;
}
.plan-line p {
    border: medium none;
    font-family: facitweb-1,facitweb-2;
    font-size: 13px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.plan-line ul.check {
    margin: 8px 14px;
}
.plan-button {
    background: -moz-linear-gradient(center top , #EFF7FD 0%, #F5FBFF 29%, #EFF8FF 82%, #E8F3FC 100%) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #CBE1F4;
    border-left: 1px solid #CBE1F4;
    border-right: 1px solid #CBE1F4;
    padding: 12px;
    text-align: center;
}
.plan-button button {
    box-shadow: 0 1px 2px #222222 !important;
    margin: 0 auto;
    padding: 10px 16px 4px;
    width: 125px;
}
.sidebar .plan {
    margin: 0 0 30px;
    width: 280px;
}
.icon-server {
    margin-top: -4px;
}
.icon-servers {
    margin-top: -4px;
}
.icon-db {
    margin-top: -5px;
}
.plan-text {
    float: left;
    margin: 8px 40px 0 0;
    width: 280px;
}
.plan-two-text {
    float: left;
    margin: 0 40px 0 0;
    width: 600px;
}
.call {
    border-radius: 4px 4px 4px 4px;
    margin: 30px 10px;
    text-align: center;
}
.call h3 {
    float: left;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.call p {
    color: #5E6061;
    font-size: 16px;
    font-style: italic;
    margin: 0;
    padding: 0;
}
.specs {
    background: -moz-linear-gradient(center top , #EFF7FD 0%, #F5FBFF 29%, #EFF8FF 82%, #E8F3FC 100%) repeat scroll 0 0 transparent;
    border: 1px solid #CBE1F4;
    border-radius: 8px 8px 8px 8px;
    padding: 32px 40px;
}
.specs ul {
    margin: 10px 0 0;
}
.check {
    margin: 10px 0 20px;
}
.check li {
    background: url("/images/check.png") no-repeat scroll left 5px transparent;
    list-style: none outside none;
    padding: 0 0 5px 30px;
    text-align: left;
}
.more {
    margin: 30px 0 10px;
    width: 940px;
}
.more h3 {
    font-size: 22px;
    margin-bottom: 15px;
}
.more .check {
    float: left;
    width: 400px;
}
.more .spot {
    float: right;
    height: auto;
    margin: 56px 52px 20px !important;
    padding: 0 !important;
    width: 380px !important;
}
.more.right-side {
    margin-left: -470px;
}
.box {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 1px 2px #999999;
    float: left;
    margin: 0 20px 20px 0;
    padding: 10px;
    width: 280px;
}
.box-top {
    display: block;
    height: 222px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 280px;
}
.box-mid {
    background: none repeat scroll 0 0 #333940;
    border-bottom: 1px solid #272D33;
    border-top: 1px solid #434950;
    color: #FFFFFF;
    font-family: facitweb-1,facitweb-2;
    font-size: 21px;
    font-weight: 200;
    padding: 8px 16px 6px;
    text-align: left;
    text-shadow: 2px 2px 1px #232323;
}
.box-mid em {
    color: #E7E7E5;
    font-size: 22px;
    vertical-align: top;
}
.box-line {
    background: none repeat scroll 0 0 #F9F9F9;
    border-bottom: 1px solid #DEE1E3;
    color: #7F8182;
    display: block;
    font-family: facitweb-1,facitweb-2;
    font-size: 11px;
    font-style: normal;
    letter-spacing: 0.02em;
    padding: 4px 10px 4px 16px;
    text-align: left;
}
.box-title {
    display: inline-block;
    margin: 0 5px 0 0;
    text-transform: uppercase;
    width: 80px;
}
.box-link a {
    border-bottom: 1px solid #DEE1E3;
    text-decoration: none;
    text-transform: uppercase;
}
.box-line p {
    font-size: 14px;
    height: 230px;
    margin: 0;
    padding: 10px 0;
}
.box-line a.external {
    background: url("/images/off-site-link.png") no-repeat scroll right 2px transparent;
}
.box-button {
    background: none repeat scroll 0 0 #F0F0F0;
    padding: 9px 0 9px 13px;
}
.sites {
    width: 960px;
}
.ads .box {
    margin-bottom: 35px;
    margin-left: 0;
    margin-right: 30px;
}
.ads .box-inner {
    padding: 20px;
}
.ads .box.last {
    margin-right: 0;
}
.illo {
    display: block;
}
.illo img {
    margin-top: -4px;
}
.ads h3 {
    margin-bottom: 5px;
    padding-top: 13px;
    text-align: left;
}
.pagination {
    padding: 20px 0;
}
.pagination ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.pagination li {
    float: left;
    margin: 0 10px 0 0;
    padding: 0 !important;
}
.pagination p {
    float: left;
    margin: 2px 13px 0 0;
}
.says {
    color: #599716;
    display: inline-block;
    font-family: facitweb-1,facitweb-2;
    font-size: 13px;
    font-style: normal;
    letter-spacing: 0.02em;
    margin: 0 5px 0 0;
    text-transform: uppercase;
}
.slideshow {
    background: url("/images/slideshow.png") no-repeat scroll center center transparent;
    display: block;
    height: 385px;
    margin: 0 0 10px;
    width: 440px;
}
.thumbs {
    margin-bottom: 30px;
}
a.thumb {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 5px solid #D8D8D8;
    display: block;
    float: left;
    height: 72px;
    margin: 0 4px 0 0;
    width: 97px;
}
a.thumb:hover {
    border-color: #AAAAAA;
}
a.thumb.selected {
    border-color: #8EBFE8;
}
a.thumb.last {
    margin-right: 0;
}
.slideshow img {
    margin-top: 22px;
}
.split .spot {
    margin: 0 0 20px;
    padding-bottom: 20px;
    width: 440px;
}
.split .spot table {
    width: 380px;
}
.page {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 6px solid #DDDDDD;
    margin: 15px 0 0;
    padding: 40px 45px;
}
.page fieldset {
    border: medium none;
    margin: 0;
    padding: 0;
}
.page h2 {
    text-align: left;
}
.page form p {
    margin-bottom: 4px;
}
.page-main {
    float: left;
    width: 540px;
}
.page-main form li {
}
.page-main form li.half {
    display: inline-block;
    float: left;
    width: 270px;
}
.page-main form li.half input {
    margin: 4px 0;
    width: 220px;
}
.page-main form li.full input {
    width: 490px;
}
.page-main form input {
    padding: 5px 7px;
}
.page-main form .button-item input {
    padding: 10px 16px 6px;
}
.page-main textarea {
    width: 494px;
}
.page-side {
    float: left;
    margin-left: 36px;
    width: 260px;
}
.page-side .plan {
    margin: 0 0 20px;
    width: 260px;
}
.page-side .spot {
    margin: 0 0 20px;
    width: 260px;
}
.page-side .spot h3 {
    font-size: 21px;
}
.page-side .spot ul {
    font-size: 13px;
    margin-bottom: 0;
}
.page.center {
    padding: 50px 55px;
    text-align: center;
}
.page.center h1 {
    font-weight: 200;
    text-align: center;
}
.page.center h2 {
    color: #77A142;
    text-align: center;
}
label .instruct {
    font-weight: normal;
    letter-spacing: 0;
    margin-left: 2px;
    text-transform: lowercase;
}
label strong {
    padding: 0 3px;
}
.main form li {
}
.main form li.half {
    display: inline-block;
    float: left;
    width: 276px;
}
.main form li.half input {
    margin: 4px 0;
    width: 240px;
}
.main form li.full input {
    width: 520px;
}
.main form input {
    padding: 5px 7px;
}
.main form .button-item input {
    padding: 10px 16px 6px;
}
.main form em {
    font-size: 11px;
}
.main textarea {
    width: 524px;
}
.items {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.items li a {
    border-bottom: 1px solid #DDDDDD;
    color: #787B7E;
    display: block;
    font-family: facitweb-1,facitweb-2;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 17px;
    padding: 5px 8px 4px;
    text-decoration: none;
    text-transform: uppercase;
}
.items li a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #599716;
}
.guides li a {
    color: #676767;
    letter-spacing: 0.01em;
    line-height: 17px;
    padding: 5px 8px 4px 17px;
    text-transform: none;
}
.guides li.outline a {
    color: #333333;
    font-weight: bold;
    padding-left: 5px;
    text-transform: uppercase;
}
.member {
    border-bottom: 1px solid #DDDDDD;
    margin: 0;
    min-height: 175px;
    padding: 30px 0;
}
.member_link {
    display: block;
    float: left;
    margin: 0 25px 18px 0;
}
.member h3 {
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.details h2, .details p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 800px;
}
.diagram {
    background: url("/images/spree-diagram.png") no-repeat scroll center center transparent;
    display: block;
    height: 779px;
    margin: 30px 0;
}
.one, .two, .three, .four {
    display: block;
    position: absolute;
}
.one h4, .two h4, .three h4, .four h4 {
    color: #2D4B73;
    font-size: 22px;
    font-weight: 200;
    margin: 0 0 11px 40px;
    text-align: left;
    width: 230px;
}
.one p, .two p, .three p, .four p {
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    text-align: left;
    width: 240px;
}
.three p, .four p {
    width: 230px;
}
.one {
    margin: 33px 0 0 130px;
}
.two {
    margin: 33px 0 0 550px;
}
.three {
    margin: 536px 0 0 41px;
}
.four {
    margin: 577px 0 0 674px;
}
.divider {
    border-top: 1px solid #DDDDDD;
    margin: 20px 0;
}
.button, button {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-transition: all 800ms ease 0s;
    background: -moz-linear-gradient(center top , #FAA796, #D06C57 5%, #AE432E 100%) repeat scroll 0 0 transparent;
    border-color: #CB6652 #B74D39 #803121;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    color: #FCE8E3;
    cursor: pointer;
    display: inline-block;
    font-family: "adelle-1","adelle-2";
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.05em;
    overflow: visible;
    padding: 10px 16px 6px;
    text-decoration: none !important;
    text-shadow: 0 1px 2px #666666;
    text-transform: uppercase;
    vertical-align: baseline;
    white-space: nowrap;
    width: auto;
}
.button:hover, button:hover {
    background: -moz-linear-gradient(center top , #FAA796, #D06C57 5%, #943A28 100%) repeat scroll 0 0 transparent;
    color: #FFFFFF;
    text-decoration: none;
}
.no-cssgradients .button, .no-cssgradients button {
    background: url("../img/btns/btn_red.png") repeat-x scroll left top #AE432E;
}
.no-cssgradients .button:hover, .no-cssgradients button:hover {
    background: url("../img/btns/btn_red_hover.png") repeat-x scroll left top #963C2A;
}
.button.blue, button.blue {
    background: -moz-linear-gradient(center top , #AFE3FA, #6CB8D9 5%, #088EC8 100%) repeat scroll 0 0 transparent;
    border-color: #1495CC #2B8AB3 #066D99;
    color: #EBF9FF;
}
.button.blue:hover, button.blue:hover {
    background: -moz-linear-gradient(center top , #AFE3FA, #6CB8D9 5%, #077BAD 100%) repeat scroll 0 0 transparent;
    color: #FFFFFF;
}
.no-cssgradients .button.blue, .no-cssgradients button.blue {
    background: url("../img/btns/btn_blue.png") repeat-x scroll left top #088EC8;
}
.no-cssgradients .button.blue:hover, .no-cssgradients button.blue:hover {
    background: url("../img/btns/btn_blue_hover.png") repeat-x scroll left top #0A7DAE;
}
.button.green, button.green {
    background: -moz-linear-gradient(center top , #D7FA96, #ABD957 5%, #78AC15 100%) repeat scroll 0 0 transparent;
    border-color: #8DCC18 #7CB315 #6A9912;
    color: #F7FFE5;
    text-shadow: 1px 1px 1px #4D890C;
}
.button.green:hover, button.green:hover {
    background: -moz-linear-gradient(center top , #D7FA96, #ABD957 5%, #659111 100%) repeat scroll 0 0 transparent;
    color: #FFFFFF;
}
.no-cssgradients .button.green, .no-cssgradients button.green {
    background: url("../img/btns/btn_green.png") repeat-x scroll left top #78AC15;
}
.no-cssgradients .button.green:hover, .no-cssgradients button.green:hover {
    background: url("../img/btns/btn_green_hover.png") repeat-x scroll left top #679212;
}
.button.gray, button.gray {
    background: -moz-linear-gradient(center top , #F2F2F2, #CCCCCC 5%, #ABACAC 100%) repeat scroll 0 0 transparent;
    border-color: #B1B3B3 #A4A6A6 #929494;
    color: #727373;
    text-shadow: 0 1px 2px #999999;
}
.button.gray:hover, button.gray:hover {
    background: -moz-linear-gradient(center top , #F2F2F2, #CCCCCC 5%, #979999 100%) repeat scroll 0 0 transparent;
    color: #585959;
}
.no-cssgradients .button.gray, .no-cssgradients button.gray {
    background: url("../img/btns/btn_gray.png") repeat-x scroll left top #ABACAC;
}
.no-cssgradients .button.gray:hover, .no-cssgradients button.gray:hover {
    background: url("../img/btns/btn_gray_hover.png") repeat-x scroll left top #9A9C9C;
}
.button.disabled, button.disabled:hover, .button.disabled, button.disabled:hover {
    background: -moz-linear-gradient(center top , #F2F2F2, #CCCCCC 5%, #ABACAC 100%) repeat scroll 0 0 transparent;
    border-color: #B1B3B3 #A4A6A6 #929494;
    box-shadow: none;
    color: #727373;
    cursor: not-allowed;
    font-weight: normal;
    text-shadow: 0 1px 2px #999999;
}
.splash button, .splash .button {
    border: medium none;
    box-shadow: 0 1px 2px #3D3D3D;
}
.plan button, .plan .button, .page button, .page .button {
    box-shadow: none;
}
button.small {
    box-shadow: 0 1px 2px #333333;
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 0.05em;
    padding: 8px 12px 3px;
}
.button-link, .read-more-link {
    -moz-transition: all 400ms ease 0s;
    background: -moz-linear-gradient(center top , #F7F7F7 0%, #FFFFFF 13%, #F7F7F7 79%, #EFEFEF 100%) repeat scroll 0 0 transparent;
    border: 1px solid #C9CFD4;
    border-radius: 7px 7px 7px 7px;
    color: #75B333 !important;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.05em;
    overflow: visible;
    padding: 6px 13px 5px;
    text-decoration: none !important;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-transform: uppercase;
    vertical-align: baseline;
    white-space: nowrap;
    width: auto;
}
.button-link.blue {
    background-color: #066D99;
}
.button-link.green {
    background-color: #6A9912;
}
.button-link:hover {
    background: -moz-linear-gradient(center top , #E3E6E7 0%, #F2F2F2 10%, #E8E9EA 82%, #DAE0E4 100%) repeat scroll 0 0 transparent;
    border-color: #C9CFD4;
    color: #53930F;
    text-decoration: none !important;
    text-shadow: 1px 1px 0 #FAFAFA;
}
.login .logo {
    margin: 65px auto 10px -20px;
    text-align: center;
}
.focus {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 8px solid #DDDDDD;
    font-family: freight-sans-pro;
    margin: 30px auto 20px;
    width: 430px;
}
.focus h1 {
    font-family: adelle-1,adelle-2,Helvetica,Arial,sans-serif;
    text-align: center;
}
.focus .focus-inner {
    padding: 40px 50px 20px;
}
.focus fieldset {
    border: medium none;
    padding: 0;
}
.focus label {
    text-align: left !important;
}
.focus .selectbox, .focus input {
    color: #232323;
    font-size: 17px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.01em;
    text-align: left;
    width: 300px;
}
.focus input {
    padding: 8px 10px;
}
.focus .selectbox {
}
.focus input.button {
    font-size: 20px;
    letter-spacing: 0.05em;
    padding: 10px 16px 6px;
    width: auto;
}
.instruct {
    font-style: italic;
    margin: 0 auto;
    width: 430px;
}
.instruct p {
    font-size: 15px;
}
fieldset.official {
    border-color: #B4DC89;
    padding: 5px 20px 6px;
}
fieldset.official legend {
    font-family: facitweb-1,facitweb-2;
    font-size: 10.5px;
    letter-spacing: 0.08em;
    padding: 0 8px;
    text-transform: uppercase;
}
fieldset.official p {
    font-size: 13px;
    font-style: italic;
}
.overlay {
    background: none repeat scroll 0 0 #000000;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
.popup {
    background: none repeat scroll 0 0 #FFFFFF;
    display: none;
    float: left;
    left: 50%;
    margin-left: -355px;
    padding: 20px;
    position: fixed;
    top: 150px;
    width: 710px;
    z-index: 1000;
}
.popup .screenshot {
    background: none repeat scroll 0 0 transparent;
    float: left;
    left: auto;
    margin: 0;
    width: 470px;
}
.popup .screenshot img.large {
    border: 1px solid #CCCCCC;
    left: auto;
    top: auto;
}
.popup .screenshot .thumbs {
    left: 2px;
    margin-top: 15px;
}
.popup .info {
    float: right;
    width: 240px;
}
.popup .info h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: none;
}
.popup .info p {
    color: #777777;
    font-size: 13px;
}
.showcase .content .popup .info a.view-site {
    float: left;
    font-size: 15px;
    margin: 25px 0 20px;
    padding: 0;
    position: relative;
    right: auto;
    text-align: center;
    text-shadow: 1px 1px 0 #333333;
    top: auto;
    width: 100%;
}
.showcase .content .popup .dev, .showcase .popup .des {
    border-bottom: 1px solid #ECECE9;
    border-top: 1px solid #ECECE9;
    width: 104px;
}
.popup .close {
    background: url("../images/close.png") no-repeat scroll 50% 50% transparent;
    border: medium none;
    display: block;
    height: 40px;
    position: absolute;
    right: -20px;
    top: -20px;
    width: 40px;
}
.screenshot {
    background: url("../images/screenshot.png") no-repeat scroll 0 0 transparent;
    left: -56px;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    width: 565px;
}
.screenshot img.large {
    display: block;
    height: 315px;
    left: 56px;
    position: relative;
    top: 10px;
    width: 450px;
}
.screenshot .thumbs {
    left: 55px;
    margin-top: 25px;
    position: relative;
}
.screenshot .thumb {
    border: 1px solid #CCCCCC;
    cursor: pointer;
    float: left;
    height: 67px;
    margin-bottom: 10px;
    margin-right: 14px;
    position: relative;
    width: 100px;
}
.screenshot .thumb:hover {
    border-color: #999999;
}
.screenshot .thumb.selected {
    border: 3px solid #1061AC;
    border-radius: 2px 2px 2px 2px;
    left: -2px;
    margin-bottom: 6px;
    margin-right: 10px;
    top: -2px;
}
.screenshot.large {
    background: url("../images/screenshot-large.png") no-repeat scroll 0 0 transparent;
    width: 1075px;
}
.screenshot.large img.large {
    height: 540px;
    left: 55px;
    width: 960px;
}
.screenshot.large .thumb {
    height: 82px;
    width: 123px;
}
.popup .des {
    margin-bottom: 10px;
}
.popup .dev {
    margin-bottom: 10px;
}
.lr {
    border-radius: 10px 10px 10px 10px;
}
.lrt {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.lrr {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.lrb {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.lrl {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.r {
    border-radius: 5px 5px 5px 5px;
}
.rt {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.rr {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.rb {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.rl {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.s {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}
h3#github {
    float: left;
    margin: 14px 10px 0 0;
}
#github-info {
    float: left;
    margin-top: 6px;
}
a.repo-url, a.watchers, a.forks {
    border: medium none;
    display: block;
}
a.watchers, a.forks {
    color: #111111;
    height: 20px;
    line-height: 20px;
    margin-left: -20px;
    padding-right: 20px;
    text-align: right;
    width: 40px;
}
a.repo-url {
    background-image: url("/images/github-cloud.png");
    float: left;
    height: 48px;
    margin-right: 5px;
    width: 48px;
}
a.forks {
    background: url("/images/forks.png") no-repeat scroll right top transparent;
}
a.watchers {
    background: url("/images/watchers.png") no-repeat scroll right top transparent;
}
.official_extension {
    border: 2px solid #97C063;
    margin-bottom: 20px;
}
.official_extension h3 {
    background-color: #97C063;
    color: #FFFFFF;
    padding: 5px;
    text-shadow: 1px 1px 0 #000000;
}
.official_extension p {
    padding: 0 6px;
}
.says a {
    color: #599716;
    font-weight: bold;
}
.docs h3 {
    padding-top: 10px;
}
.docs h4 {
    color: #333333;
    font-family: adelle-1,adelle-2,Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: normal;
    padding-top: 10px;
}
.docs h5 {
    color: #333333;
    font-family: adelle-1,adelle-2,Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0.02em;
    padding-top: 10px;
    text-transform: uppercase;
}
code {
    border: medium none;
    font-size: 13px;
    margin: 0 0 10px;
}
.code pre {
    margin: 0;
}
.code, .note, .info, .warning {
    margin: 0 0 12px;
    padding-top: 6px;
}
.bg, .bg-file {
    border-radius: 4px 4px 4px 4px;
    margin: 0 0 0 17px;
    padding: 20px 35px 10px 30px;
}
.tab {
    display: block;
    float: left;
    height: 36px;
    margin: -8px 0 0;
    min-width: 36px;
}
.code .tab {
    background: url("../images/tab-code.png") no-repeat scroll left top #F8F9FA;
}
.note .tab {
    background: url("../images/tab-notes.png") no-repeat scroll left top #FFF9D8;
}
.info .tab {
    background: url("../images/tab-pin.png") no-repeat scroll left top #E5CFEC;
}
.warning .tab {
    background: url("../images/tab-warning.png") no-repeat scroll left top #F9D9D8;
}
.code .bg, .bg-file {
    background: none repeat scroll 0 0 #F8F9FA;
    box-shadow: 1px 1px 12px 2px #DEE0E1 inset;
}
.note .bg {
    background: none repeat scroll 0 0 #F8F5E4;
    box-shadow: 1px 1px 12px 2px #E8E0B4 inset;
}
.info .bg {
    background: none repeat scroll 0 0 #F9F0FC;
    box-shadow: 1px 1px 12px 2px #ECDAF2 inset;
}
.warning .bg {
    background: none repeat scroll 0 0 #FFECEB;
    box-shadow: 1px 1px 12px 2px #FBD6D6 inset;
}
.code p, .note p, .info p, .warning p {
    font-size: 14.5px;
}
.code p {
    color: #232323;
}
.note p {
    color: #4F4A30;
}
.info p {
    color: #532362;
}
.warning p {
    color: #713534;
}
tt {
    background: none repeat scroll 0 0 #EFEFEF;
    font-size: 13px;
    margin: 0 1px;
    padding: 3px 5px;
}
.bg tt {
    font-size: 13px;
}
.code tt {
    background-color: #C1C4C5;
    color: #090909;
}
.note tt {
    background-color: #F5E9A8;
    color: #624801;
}
.info tt {
    background-color: #EFD0FA;
    color: #400951;
}
.warning tt {
    background-color: #FEC9C9;
    color: #8C0606;
}
.path {
    background: none repeat scroll 0 0 #CBE1AF;
    color: #666666;
    display: inline-block;
    font-family: "lucida console",monospace;
    font-size: 13px;
    margin: 3px 0 0 36px;
    padding: 6px 14px 2px 8px;
}
ul.nav {
    float: right;
}
.bg-file pre {
    margin-top: 20px;
}
.syntaxhighlighter {
    font-size: 0.8em !important;
}
#guidesMenu {
    float: right;
    margin-right: 12px;
}
#guides {
    background-color: #FFFFFF;
    color: #3E434C;
    font-size: 0.75em;
    right: 36px;
    top: 16px;
    width: 520px;
}
#guides .L {
    float: left;
    width: 240px;
}
#guides .R {
    float: right;
    margin-left: 40px;
    width: 240px;
}
#guides hr {
    background-color: #D2CECE;
}
#guides dl {
    display: inline;
}
#guides dl dt {
    color: #3E434C;
    font-weight: bold;
    letter-spacing: 0.05em;
}
#guides dl dd {
    margin-left: 18px;
    text-indent: -10px;
}
#errorExplanation h2 {
    color: red;
}
#errorExplanation p {
    color: red;
}
#errorExplanation ul {
    color: red;
    padding: 10px 0 0 40px;
}
.field_with_errors input[type="text"], .field_with_errors input[type="password"], .field_with_errors input[type="email"], .field_with_errors textarea {
    border: 1px solid red;
}
#plusone-footer {
    float: right;
    padding-top: 0;
}
.splash-intro a {
    margin: 190px 0 0;
    position: absolute;
}

	