<div class="intro">
<p style="width: 650px">
	To continue your  activation, we must verify your email address. When you receive the email we send you, follow the link 			provided or copy the link into your browser.
	Make sure your own security setting will not block the receipt of this email. To prevent the email from being blocked, add the following address to your email contacts : admin@yahoo.net
</p>
<h2>Additional Resources & Information</h2>
<h4>As you complete each step and move to the next step, the system will check for error,
if there are errors:</h4>
<ul>	
	<li>
    A notification message will be displayed at the top of the page.
	</li>
	<li>	
    You must correct the errors indicated before continuing to the next step.
	</li>
	<li>
    Additional Help can be found in the Frequently Asked Questions located on the left hand navigation bar.
	</li>
</ol>
</div>	
	