<div class="footer">
<div class="footer-inner">
	<div class="inner">
		<div class ="one-third"   	
	     	<ul>	    
		  	 	<h4>Community</h4>
				<li>
				<a target="blank" href="http://github.com/spree/spree">Source Code</a>
				</li>
				<li>
				<a target="blank" href="http://guides.spreecommerce.com">Documentation</a>
				</li>
		
		   </ul>
		</div>
	</div>
	<div class="clear"></div>
</div>
</div>
<div class="clear"></div>

